.calendar-container {
    border-radius: 20px;
    max-width: 500px;
    max-height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 10px;
}

.navbar {
    min-width: 30vw;
    width: inherit;
    height: 40px;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgb(248, 238, 238);
    font-weight: 550;
    display: flex;
    justify-content: space-between;
}

.mood {
    padding-top: 5px;
}

.ip-container {
    cursor: pointer;
}

.check:checked + .ip-container {
    border: 2px solid blue;
}
