.react-calendar {
  border-radius: inherit;
  /* min-width: 25vw; */
  /* min-height: 55vh; */
  width: inherit;
  background: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disabled {
  color: #666769;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  width: 20px;
  height: 60px;
  font-weight: 550;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  column-gap: 20px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  height: 40px;
  border-radius: 20px;
  min-width: 40px;
  background-color: #ffd600;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #cbe2ed;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  /* text-decoration: 2px solid #04a60f underline;
  color: #04a60f; */
}
/* .react-calendar__month-view__days__day--weekend {
  color: #008241;
} */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #4d4949d1;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #cfe2edef;
}
.react-calendar__tile--now {
  /* background: #91cdfb; */
  text-decoration: 2px solid #cbe2ed underline;
  color: #e75618;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #cbe2ed;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #ccdbe9;
}
.react-calendar__tile--active {
  background: #cbd3e9;
}
/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border: 2px solid yellow;
} */
/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #cb8787;
} */

@media (width <= 500px) {
  * {
    font-size: 13px;
  }

  .react-calendar button {
    width: 15px;
    height: 45px;
  }

  .react-calendar__navigation button {
    height: 40px;
    border-radius: 20px;
    min-width: 40px;
    background-color: #ffd600;
  }
}
