/* parent container */
.modal {
  display: flex;
  flex-direction: column;
}

/* mood bar */
.navbar {
  min-width: 30vw;
  width: inherit;
  height: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(248, 238, 238);
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* calendar container */
.calendar-container {
  border-radius: 20px;
  max-width: 500px;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}

/* buttons */

.logout {
  background-color: rgba(255, 255, 255, 0.544);
  padding: 7px 15px;
  font-weight: 450;
  border-radius: 20px;
  position: fixed;
  right: 40px;
  top: 20px;
}

.logout:hover {
  background-color: rgba(228, 236, 239, 0.704);
}

.clear {
  border-radius: 20px;
  background-color: #fbd723f9;
  padding: 3px 10px;
}
